<!DOCTYPE html>
<html lang="en" ng-app="cargoclixApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="title">@(PageData["title"] ?? "CargoClix Go Logistics")</title>
    <meta name="description" content="@PageData["description"]">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    @Styles.Render("~/content/css/app")
    @Styles.Render("~/content/css/toastr")
</head>
<body>
    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="navbar navbar-inverse" role="banner" ng-if="$root.UserInfo.IsAuthorized">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".spa-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">Logged In with telephone number {{$root.UserInfo.MobileNumber}}</a>
            </div>
            <nav class="collapse navbar-collapse spa-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" class="navbar-brand">Logout</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
  
    <div class="container">
        <div ng-view="" ></div>
        @RenderBody()
    </div>
    @Scripts.Render("~/js/jquery")
    @Scripts.Render("~/js/angular")
    @Scripts.Render("~/js/moment")
    @Scripts.Render("~/js/toastr")
    @Scripts.Render("~/js/app")
    @RenderSection("scripts", required: false)

</body>
</html>