@model IEnumerable<OnlineCoding.Domain.Entities.CompilerClient>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientIpAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConnectedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisconnectedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsConnected)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientIpAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConnectedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisconnectedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsConnected)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStamp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
